<h1>Editing Password Record</h1>

<h2><%= @password.name %></h2>

<% form_remote_tag :url => { :action => 'update', :id => @password } do %>
  <%= render :partial => 'password_record_form' %>
  <%= submit_tag 'Save' %>
  <%= submit_to_remote 'cancel', 'Cancel', :url => { :action => 'show', :id => @password } %>
<% end %>
