<h1>New Password</h1>

<% form_remote_tag :url => { :action => 'create' } do %>
  <%= render :partial => 'password_record_form' %>
  <%= render :partial => 'password_value_form' %>
  <%= submit_tag 'Create' %>
  <%= submit_to_remote 'cancel', 'Cancel', :url => { :action => 'noop' } %>
<% end %>
