<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Ecne Password Safe: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'pw' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>


<div class="banner">
<%= render :partial => "search" %>
</div>

<div id="navigation" class="navigation"></div>

<div id="main" class="main">
<div id="main-data" class="main-data"></div>
</div>

</body>
</html>
